*~
\#*\#
.\#*
*.o
*.la
*.lo
.deps
.dirstamp
.libs
aclocal.m4
build-aux
configure
Makefile.in
Makefile
autom4te.cache
m4
ltmain.sh
libtool
config.*
tr/trust_router
common/dh_test/tr_dh_test
tid/example/tids
tid/example/tidc