Source: moonshot-trust-router
Section: net
Priority: extra
Maintainer: Sam Hartman <hartmans@debian.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, automake, autoconf, libtool, libjansson-dev, libkrb5-dev (>= 1.10~), dh-autoreconf, libssl-dev, libsqlite3-dev
Standards-Version: 3.9.1
Homepage: http://www.project-moonshot.org/
Vcs-Git: git://git.project-moonshot.org/trust_router.git

Package: moonshot-trust-router
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moonshot-gss-eap
Description: Moonshot Trust Router
 This package is under construction

Package: moonshot-trust-router-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development enviroment for the Trust Router
 Includes the trust router includes and libraries

Package: libtr-tid0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Trust Router Shared Libraries
 Includes runtime libraries for the Temporary Identity Protocol


