[Unit]
Description=Trust Identity Protocol Server
Before=freeradius.service

[Service]
Environment="ipaddr=auto"
Environment="hostname=auto"
Environment="port=auto"
EnvironmentFile=/etc/sysconfig/tids
ExecStartPre=/bin/sh -c "/usr/bin/sqlite3 </usr/share/trust_router/schema.sql /var/lib/trust_router/keys"
ExecStart=/usr/bin/tids --ip ${TIDS_SERVER_IP} --hostname ${TIDS_SERVER_NAME} --port ${TIDS_SERVER_PORT} ${TIDS_GSS_NAME}
Restart=always
StandardOutput=syslog
StandardError=inherit
User=trustrouter

[Install]
WantedBy=multi-user.target
